.pessoa {
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (min-width: 0) {
    .pessoa {
        margin-bottom: 2rem;
    }
}
@media screen and (min-width: 768px) {
    .pessoa {
        margin-bottom: 0;
    }
}