.sobre_descricao {
    color: #595959;
    font-weight: 100;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (min-width: 0) {
    .sobre_descricao {
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 768px) {
    .sobre_descricao {
        font-size: 1.75rem;
    }
}
