.cabecalho {
    text-align: center;
    align-items: center;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu_item {
    list-style: none;
}

.menu_link {
    text-decoration: none;
    font-size: 0.85em;
    background: gray;
    border: 0;
    margin-bottom: 1em;
    color: black;
    padding: 0.2em 0.6em;


}

.menu_link:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}