.cabecalho {
    text-align: center;
    align-items: center;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu_item {
    list-style: none;
}

.menu_link {
    width:30%;
    background-color: rgb(222, 222, 222);
    border:0px;
    padding:5px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.menu_link:hover {
    background: rgb(115,188,255);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}